body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2,
h3 {
    color: #333;
    text-align: center;
}

form {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 20px 10px rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    padding: 20px;
}

input,
textarea {
    width: 95%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #333;
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

nav a, nav span {
    color: #000;
    margin-right: 10px;
    font-weight: 500;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #EB0300;
}

nav button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

.logout {
    box-shadow: none;
}